@import "../_index.scss";

.return {
    position: absolute;
    color: white;
}

.info-event {
    width: 100%;
    display: flex;
    width: 100%;
    flex-direction: column;

    img {
        width: 100%;
        height: 300px;
        object-fit: cover;
    }

    .description {
        gap: 32px;
    }

    .info-legend {
        padding: 24px;

        button {
            font-family: PPEiko;
            font-size: 18px;
            font-weight: 900;
            color: white;
            width: 100%;
            padding: 14px 16px;
            height: 48px;
            border: none;
            border-radius: 8px;
            background-color: $Primary500;
        }

        span {
            color: $Primary500;
        }
    }

    .info-travels {
        padding: 0 24px;
        display: flex;
        flex-direction: column;

        .travel {
            padding: 0 24px;
            border-left: black 2px solid;

            .details {
                width: 100%;
                border-radius: 8px;
                padding: 24px;
                background-color: #F2F4F7;
                margin: 24px 0;

                div {
                    display: flex;
                    justify-content: space-between;
                }
            }
        }
    }
}