$White: #FFFFFF;
$Primary500: #FF845E;
$Gray100: #F2F4F7;
$Gray200: #EAECF0;
$Gray300: #D0D5DD;
$Gray400: #98A2B3;
$Gray600: #475467;
$Gray800: #1D2939;
$Destructive100: #FEE4E2;
$Destructive500: #F04438;
