@import 'colors';
@import 'fonts';

$header-height: 95px;
$main-width: 1200px;

* {
  box-sizing: border-box;
}

body,
html {
  padding: 0;
  margin: 0;
  font-family: Aktiv, sans-serif;
  color: $Gray800;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  appearance: none;
  color: $Gray800;
}

#content {
  min-height: 100vh;
  padding: 0 0 160px 0;
}