@import 'colors';
@import 'fonts' ;

* {
    box-sizing: border-box;
}

body,
html {
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
}

main#root {
    min-height: 100vh;
    padding: 24px;
}

a {
    text-decoration: none;
    appearance: none;
    color: $Gray800;
}