@use "../index" as *;

.account {
    display: flex;
    padding: 24px;
    gap: 24px;
    flex-direction: column;

    .onglet {
        padding: 24px;
        gap: 24px;
        background-color: $Gray300;
        border-radius: 8px;
        display: flex;
    }
}