@use "../index" as *;

.account {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: #{$header-height + 24px} 24px 24px;

  .link {
    padding: 24px;
    display: flex;
    align-items: center;
    gap: 24px;
    background-color: $Gray100;
    border-radius: 8px;

    &--destructive {
      background: $Destructive100;
      color: $Destructive500;

      svg {
        color: $Destructive500;
      }
    }
  }
}