@use '../colors' as *;
@use "sass:color";

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background: $White;

  .title {
    display: flex;
    align-items: center;

    h1 {
      font-family: PPEiko, sans-serif;
      font-size: 1.25rem;
      margin: 0;
    }

    &__back {
      position: absolute;
      left: 24px;
      color: $White;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      font-size: 0.75rem;
    }
  }

  &.event {
    background: color.adjust($Gray800, $alpha: -0.6);
    backdrop-filter: blur(8px);

    svg {
      path[fill], circle[fill] {
        fill: $White;
      }

      &[stroke-width] {
        stroke: $White;
      }
    }

    .links {
      a {
        color: $White;
      }
    }
  }
}