@use '../colors' as *;

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
  background: $White;

  .title {
    display: flex;
    align-items: center;

    h1 {
      font-family: PPEiko, sans-serif;
      font-size: 1.25rem;
      margin: 0;
    }

    &__back {
      position: absolute;
      left: 24px;
    }
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;
      font-size: 0.75rem;
    }
  }
}