@import "../_index.scss";

nav {
    width: 100%;
    font-family: HelveticaFont;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 24px 40px;
    gap: 8px;


    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
        color: black;

        &.active {
            color: $Primary500;
        }

    }

    .active svg path,
    .active svg rect,
    .active svg circle {
        fill: $Primary500;

    }

}